*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: darkgray;
}

.header-main-client{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background: rgb(0, 28, 73);
}

.brand {
    text-transform: uppercase;
    font-weight: bold;
}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
